<%- include('header') -%>
    <div class="box">
        <div id="heading">
            <h1>About Me</h1>
        </div>
        <p>A random thought about me that's meant to endear you to me in your own mind.</p>
    </div>
<%- include('footer') -%>