<%- include('partials/header') -%>
<div class="container-fluid justify-content-center col-10">
    <div class="container">
        <div class="container blogposts my-3">
            <div class="row">
                <h1 class="h1 col-8">Wa-wa wrong page matey!</h1>
            </div>
            <div class="row">
                <p class="col-10">Please go back to the home and start again.</p>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>