<%- include('partials/header') -%>
<div class="container text-start">
    <h1 class="h1 my-5">About Me</h1>
    <p>I'm a new comer to the Javascript frameworks of Node, Express, and EJS. Take a trip with me as I explore the new and ever exciting world of code.</p>
    <p>We will venture from the heights of modern Bootstrap Design with interactive JS. To the all-too-often malagined depths of Web3 and the future of the internet!</p>
</div>
<%- include('partials/footer') -%>